.formulario {
    background-color: var(--secundario);
    width: min(80rem, 90%);
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,5);
}
.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.campo-formulario {
    margin-bottom: 1rem;
    width: 100%; 
}

.formulario label {
    text-transform: capitalize; 
    color: var(--secundario-oscuro);
    font-weight: bold;
    margin-bottom: 0.5rem; 
}

.formulario .campo-formulario > label { /*el simbolo mayor hace que solo le afecte a los hijos y no a los nietos*/
    display: block;                     /*display block para que el label ocupe toda la fila y el input se colque debajo*/
}

.input-formulario {
    background-color: var(--claro);
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    appearance: none;
}

.prefes, .interes { /*la coma enumera clases y afecta a las dos. si solo pongo espacio afecta a un elemento que hay dentro de otro*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.campo-formulario input[type="radio"], 
.campo-formulario input[type="checkbox"] {
    display: none;
}

.campo-formulario .prefes label,
.campo-formulario .interes label {
    background-color: var(--claro);
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.campo-formulario input[type="radio"]:checked+label, 
.campo-formulario input[type="checkbox"]:checked+label {
    background-color: var(--primario);
    color: var(--claro);
}

.campo-formulario textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    font-size: 1.5rem;
    min-height: 20rem;
    resize: vertical; /*para poder modificar el textaera pero solo en vertical*/
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.sin-margen {
    margin: 0;
}

.flex {
    display: flex;

}
.derecha {
    justify-content: end;
}
