.formulario {
    background-color: var(--secundario);
    width: min(90rem, 100%);
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.campo-formulario {
    margin-bottom: 1rem;
    width: 100%;
}

.campo-formulario label {
    text-transform: capitalize;
    font-weight: bold;
}

.campo-formulario>label {
    display: block;
}

.input-formulario {
    background-color: var(--claro);
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    appearance: none;
}

.prefes, .interes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.interes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.campo-formulario input[type="radio"],
.campo-formulario input[type="checkbox"] {
    display: none;
}

.campo-formulario .prefes label,
.campo-formulario .interes label {
    background-color: var(--claro);
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.campo-formulario .prefes input[type="radio"]:checked+label,
.campo-formulario .interes input[type="checkbox"]:checked+label {
    background-color: var(--primario);
    color: var(--blanco);
}

.campo-formulario textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    font-size: 1.5rem;
    min-height: 20rem;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}


.sin-margen {
    margin: 0;
    width: 100%;
}

.flex {
    display: flex;

}

.derecha {
    justify-content: end;
    
}

.inicio {
    order: 4;
    height: 8rem;
    background-color: red;
}

.prop {
    order: 3;
    background-color: red;
    height: 4rem;
}

.cont {
    order: 2;
    background-color: red;
    height: 4rem;
}

.serv {
    order: 1;
    background-color: red;
    height: 4rem;
}

@media (min-width:768px) {
.prefes, .interes {
    display: flex;
    justify-content: space-evenly;
}
.sin-margen {
    width: auto;
}

}