 .buscar {
    text-align: center;
 }

 .buscar-form {
    display: flex;
    justify-content: center;
    gap: 1rem;
 }

 .buscar-form input,
 .buscar-form select {
    padding: 1.2rem;
    margin: 2rem 0;
    border: 1px solid var(--oscuro);
    border-radius: 0.5rem;
    min-width: 20rem;
    font-size: 1.3rem;
}

 